/*GENEAL*/



/*Zona de Jose Miguel*/
.P1_Titulo{
    color: blue;
}



/*Zona de Alan*/




/*Zona de Marc*/




/*Zona de Mateusz*/
.P7_fondog {   /* Es el fondo gris medio transparente */
    position: absolute; /* Permite usar left y transform */
    left: 50%; /* Mueve el rectángulo al 50% del ancho del contenedor */
    transform: translateX(-50%); /* Ajusta el centro exacto */
    width: 70%; /* Ancho del rectángulo en porcentaje */
    height: 70%; /* Alto del rectángulo en porcentaje */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
    color: white; /* Color del texto */
    display: flex; /* Opcional: para centrar el contenido interno */
    align-items: center; /* Centra verticalmente el contenido interno */
    border: 3px solid black;
    text-align: center;
    flex-direction: column;
    padding: 20px;

}
.P7_fondog h1 {
  color: black;
  margin-bottom: 20px;

}

.P7_fondog p {
  margin: 50px; /* Espacio alrededor del párrafo */
  text-align: justify;
  background-color: blueviolet;
}

.P7_fondog img{
  margin: 0 auto; /* Centra la imagen sin márgenes extra */
  position: relative; 
  top: -130px; /* Usa un valor negativo para subir la imagen */
}

.P9_Preguntas {
  background-color: #D5B6FC;
  text-align: center;
  font-family: 'Arial', sans-serif; /* Fuente base */
  color: black; /* Color del texto */
  text-shadow: 4px 4px 6px #ff66ff; /* Sombra de texto en color rosa */
}
